$primary-color: #141414;

@mixin flex-basic($justify-content) {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: $justify-content;
}

@mixin info($top, $right, $bottom, $left) {
  padding: $top $right $bottom $left;
  width: 621px;
  color: white;
  position: absolute;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  div {
    margin-bottom: 10px;
  }
}

@mixin company {
  border-left: 10px solid red;
  padding: 10px;
  margin-right: 264px;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.3),
    rgba(255, 0, 0, 0)
  );
}

@mixin name {
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Anton;
}

@mixin rating_seasons {
  @include flex-basic(flex-start);
}

@mixin rating {
  margin-right: 20px;
  background-color: gray;
  padding: 6px;
}

@mixin sinopse {
  text-align: justify;
}


@mixin play_more {
  @include flex-basic( flex-start);
}

@mixin play {
  margin-top: 10px;
  margin-right: 20px;
  background-color: red;
  padding: 8px 25px;
  font-size: 20px;
  color: white;
  @include flex-basic(center);
  cursor: pointer;
}