@import "base";

@mixin transition-color() {
  transition: color 0.5s;
}

.content {
  width: 100%;
  height: 100px;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 95px;
  margin-top: -15px;
}

.item {
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin-right: 10px;
  @include transition-color();

  &:hover {
    text-decoration: none;
    color: red;
  }
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.icon {
  @include flex-basic(center);

  div {
    color: white;
    margin-right: 20px;
    @include transition-color();
    cursor: pointer;

    &:hover {
      color: red;
    }
  }
  .icon_client {
    background-color: white;
    color: green;
    border-radius: 40%;
  }
}

.teste1 {
  background-color: white;
  color: black;
}
