@import "base";

.container{
  position: relative;
  height: 700px;
  width: 100%;
  margin: 60px 0 10px;
}


.info {
  bottom: 22px;
  position: absolute;
  @include info(240px, 0, 100px, 80px);
}

.company {
 @include company;
}

.name {
  @include name;
}

.rating_seasons {
 @include rating_seasons;
}

.rating {
  @include rating;
}

.sinopse {
  @include sinopse;
}


.play_more {
  @include play_more;
}

.play {
  @include play;
}