@import "base";

@font-face {
  font-family: Anton;
  src: url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
}

.new_content {
  position: relative;
  padding: 5rem 0;
  flex: 1;
  @include flex-basic(flex-start);
  width: 100%;
  height: 500px;
}

.info_new_content {
  @include info(74px, 0, 74px, 80px);
}

.company_new_content {
 @include company;
}

.name_new_content {
  @include name;
}

.rating_seasons_new_content {
 @include rating_seasons;
}

.rating_new_content {
  @include rating;
}

.sinopse_new_content {
  @include sinopse;
}


.play_more_new_content {
  @include play_more;
}

.play_new_content {
  @include play;
}
