@import "base";

.category{
  margin: 70px 0 10px 50px;
  font-size: 30px;
  color: white;
}

.box{
  margin-left: 30px;
  margin-right: 50px;
  
}

.image{
  width: 220px;
  height: 220px;
  border-radius: 5px;
  transform: scale(1);
  opacity: 0.9;
  transition: 0.5s;
  &:hover{
    transform: scale(1.1);
    opacity: 0.4;
    cursor: pointer;
  }
}



