@import "base";

.video_page_body{   
    height: 100%;  
}

.poster{
    padding-bottom: 50px;
    position: relative;
    
    .poster_info{
        @include info(101px, 0, 150px, 80px);
        bottom: 50px;
    }

    .name{
        @include name;
    }

    .sinopse{
        @include sinopse;
    }
}


.video_body{
    @include flex-basic(center);
    align-items: flex-end;
    position: relative;
}

.jump_ad{
    color: white;
    right: 105px;
    bottom: 90px;
    border: 1px solid;
    width: 105px;
    height: 30px;
    position: absolute;
    @include flex-basic(center)
}

.jump_ad_disable{
    display: none;
}

.jump_ad_button{
    cursor: pointer;
}

.jump_ad_button{
    font-size: 12px;
    text-transform: uppercase;
}